@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    box-sizing: border-box;
    background-color: cornsilk;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
}
.contentContainer {
    margin: auto;
    align-items: center;
    left: 10px;
}
.goco {
    color: rgb(126, 126, 128);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin:0;
}

.contact {
    color: rgb(126, 126, 128);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}